body {
    max-width: 1000px;
    margin: auto;
    /* position: relative; */
}

section {
    /* text-align: center; */
    max-width: 1000px;
    width: 100%;
    height: 80vh;
}

section h2 {
    text-align: center;
}

.options {
    display: flex;
    
    max-width: 1000px;
    margin: auto;
    top: 10%;
    
}

.options div {
    width: 50%;
    flex: 1;
    /* position: absolute; */
    /* top: 0; */
    height: 20vh ;
    margin: 10px;
    background-color: aquamarine;
    position: relative;
}

.options div p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.off, .resultOff {
    position:absolute;
    top: -100%;
}

.on, .resultOn {
    position: absolute;
    top: 20%;
}

.resultOn {
    transition: all 1s ease;
}